@use 'colors'

.hr
    width: 40px
    margin-bottom: 40px

.photo_text_display
    display: grid
    grid-template-columns: auto auto
    column-gap: 20px
    width: 800px

.section_center
    display: flex
    align-items: center
    justify-content: center
    width: 100%
    height: 100%

.picture_container
    display: block

    grid-column: 1
    background-color: colors.$accent-color-darker
    border-radius: 20px
    overflow: hidden
    border: 2px solid colors.$accent-color-lighter

.picture
    // width: auto
    // height: auto
    width: 100%
    height: 100%
    object-fit: cover


.vertical 
    // border-left: 6px solid 
    background-color: colors.$accent-color
    // border: 1px solid
    height: 200px
    width: 3px
    border-radius: 3px

.text_block
    font-family: "Trebuchet MS"
    grid-column: 3
    text-align: left
    font-size: 1.3em

    span 
        color: colors.$accent-color

@media only screen and (max-width: 830px) 
    .photo_text_display
        row-gap: 20px
        column-gap: 0px
        width: 75vw

    .picture_container
        grid-row: 1
        width: 50vw
        text-align: center
        // align-self: center

    .section_center
        grid-column: 1

    // .picture
    //     display: block
    //     max-width: 10%

    .vertical 
        height: 3px
        width: 200px
        grid-column: 1
        grid-row: 2
    
    .text_block
        grid-column: 1
        grid-row: 3