.card {
    display: grid;
    /* grid-template-columns: 60% 40%; */
    grid-template-rows: 60% 40%; 

    border-radius: 10px;
    padding: 0;
    background-color: #210c16;

    border-color: #D91E36;
    border-width: 1px;
    border-style: solid;

    box-shadow: 0px 0px 10px #ff002233;

    min-height: 250px;
    min-width: 400px;
    max-width: 400px;

    overflow: hidden;
}

.containerImage {
    display: flex;

    background-color: black;
    overflow: hidden;

    align-items: center;
    align-content: stretch;

    grid-row: 1;

    cursor: pointer;
}

.image {
    width: 100%;
    height: auto;
}

.descriptionBox {
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
    grid-row: 2;
}

.header {
    margin: 0;
}

.description {
    text-align: left;
    align-self: flex-start;
}

.descScroll {
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

.descScroll::-webkit-scrollbar {
    position: static;
    width: 10px;

}

/* .scrollable:hover::-webkit-scrollbar {

} */

.descScroll::-webkit-scrollbar-thumb {
    background-color: #00000000;
    border-radius: 5px;
}

.descScroll:hover::-webkit-scrollbar-thumb {
    background-color: #8c1a2999;
}

.descScroll::-webkit-scrollbar-thumb:hover {
    background-color: #D91E36dd;
}